.item-bg{
    background-image: url("https://cdn.pixabay.com/photo/2021/05/04/12/49/anime-6228610_1280.jpg");
    background-size: 100% 100%;
}

.intro-bg{
    background-color: black;
}

img{
    height: 40px;
    width: 30px;
    margin-left: 20px;
}

a{
    color: white;
    font-size: 20px;
    margin-right: 20px;
    font-family: 'Metal Mania', cursive;
}

i{
    font-size: 20px;
}

